@media (max-width: 741px) {
  .hover-squares {
    width: 100%;
  }
}
.hover-squares {
  width: 350px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .hover-squares__typography {
    font-size: 40px;
    color: #e7e7e7;
  }

  .hover-squares__scroll {
    height: 600px;
    width: 370px;
    overflow-y: scroll;
    .hover-squares__block {
      width: 300px;
      min-height: 65px;

      border-radius: 9px;
      display: flex;
      align-items: center;
      color: #59401d;
      justify-content: flex-start;
      padding-left: 10px;
      font-weight: 700;
      font-size: 16px;
      margin-top: 5px;
      background-color: #ffb64f;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #4d5257;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border: 1px solid lightgray;
      border-left: 0;
      border-right: 0;
      background-color: #38404d;
    }
  }
}
