.pick-mode {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  .pick-mode__button {
    width: 100px;
    height: 40px;
    border: 0;
    background-color: #2770dc;
    color: #e7e7e7;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 10px;

    &:hover {
      background-color: #3483f4;
      font-size: 19px;
    }
  }
}
