.container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-direction: row;
  align-content: center;
}

@media (max-width: 741px) {
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-content: center;
  }
  .container__play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
